@media only screen and (min-width: 1320px) {

	/* Grid */
	#page {
		width: 1400px;
	}
	#page:before {
		width: 1000px;
	}

	/* Primary */
	.content-area {
		width: 1000px;
	}

	/* Content */
	.entry-thumbnail {
		width: 1000px;
	}

	/* Media */
	.entry-attachment .attachment {
		width: 1000px;
	}
	.video-wrapper .video-player {
		max-width: 920px;
	}

}